In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("Hospital_visits_raw.csv")
df.head()

,appointment_id,patient_id,doctor_id,department,visit_date,shift,check_in_time,consultation_start_time,check_out_time,available_beds,patient_volume_shift,patients_seen_by_doctor_shift,doctor_available_minutes,doctor_worked_minutes,satisfaction_score
0,1,2095,61,Orthology,2024-04-12,Night,2024-04-12 18:00:00,2024-04-12 18:19:00,2024-04-12 18:39:00,48,151,23,480,414,3
1,2,1130,22,Orthology,2024-03-28,Morning,2024-03-28 09:00:00,2024-03-28 10:48:00,2024-03-28 11:21:00,11,117,16,480,391,4
2,3,3300,108,Emergency,2024-10-03,Morning,2024-10-03 17:00:00,2024-10-03 18:02:00,2024-10-03 18:33:00,58,248,14,480,387,3
3,4,4202,101,Neurology,2024-12-29,Morning,2024-12-29 09:00:00,2024-12-29 10:08:00,2024-12-29 10:42:00,16,50,13,480,366,2
4,5,3612,2,Pediatrics,2024-03-29,Night,2024-03-29 19:00:00,2024-03-29 19:13:00,2024-03-29 19:48:00,37,140,11,480,463,3

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   appointment_id                 12000 non-null  int64
 1   patient_id                     12000 non-null  int64
 2   doctor_id                      12000 non-null  int64
 3   department                     12000 non-null  object
 4   visit_date                     12000 non-null  object
 5   shift                          12000 non-null  object
 6   check_in_time                  12000 non-null  object
 7   consultation_start_time        12000 non-null  object
 8   check_out_time                 12000 non-null  object
 9   available_beds                 12000 non-null  int64
 10  patient_volume_shift           12000 non-null  int64
 11  patients_seen_by_doctor_shift  12000 non-null  int64
 12  doctor_available_minutes       12000 non-null  int64
 13  doctor_worked_minutes          12000 non-null  int64
 14  satisfaction_score             12000 non-null  int64
dtypes: int64(9), object(6)
memory usage: 1.4+ MB

In [3]:
df.isna().sum()

appointment_id                   0
patient_id                       0
doctor_id                        0
department                       0
visit_date                       0
shift                            0
check_in_time                    0
consultation_start_time          0
check_out_time                   0
available_beds                   0
patient_volume_shift             0
patients_seen_by_doctor_shift    0
doctor_available_minutes         0
doctor_worked_minutes            0
satisfaction_score               0
dtype: int64

In [4]:
df.duplicated().sum()

np.int64(0)

In [5]:
df.describe(include="all")

,appointment_id,patient_id,doctor_id,department,visit_date,shift,check_in_time,consultation_start_time,check_out_time,available_beds,patient_volume_shift,patients_seen_by_doctor_shift,doctor_available_minutes,doctor_worked_minutes,satisfaction_score
count,12000.00000,12000.000000,12000.000000,12000,12000,12000,12000,12000,12000,12000.000000,12000.000000,12000.000000,12000.0,12000.000000,12000.000000
unique,NaN,NaN,NaN,6,365,2,4644,11788,11784,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,Orthology,2024-09-06,Night,2024-01-14 10:00:00,2024-12-16 13:57:00,2024-11-12 15:54:00,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,2138,49,6046,10,3,3,NaN,NaN,NaN,NaN,NaN,NaN
mean,6000.50000,3003.090083,60.265833,NaN,NaN,NaN,NaN,NaN,NaN,34.308667,139.108417,16.995500,480.0,338.596667,3.021750
std,3464.24595,1150.083064,34.279726,NaN,NaN,NaN,NaN,NaN,NaN,14.421034,63.288111,7.191937,0.0,80.661557,1.421424
min,1.00000,1000.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,30.000000,5.000000,480.0,200.000000,1.000000
25%,3000.75000,2005.750000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,22.000000,85.000000,11.000000,480.0,269.000000,2.000000
50%,6000.50000,3013.000000,60.000000,NaN,NaN,NaN,NaN,NaN,NaN,34.000000,138.000000,17.000000,480.0,338.000000,3.000000
75%,9000.25000,3995.000000,90.000000,NaN,NaN,NaN,NaN,NaN,NaN,47.000000,194.000000,23.000000,480.0,408.000000,4.000000
max,12000.00000,4999.000000,119.000000,NaN,NaN,NaN,NaN,NaN,NaN,59.000000,249.000000,29.000000,480.0,479.000000,5.000000

In [6]:
df = df.drop_duplicates()

In [7]:
num_cols = df.select_dtypes(include="number").columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

In [8]:
cat_cols = df.select_dtypes(include="object").columns
df[cat_cols] = df[cat_cols].fillna("Unknown")

In [9]:
df["check_in_time"] = pd.to_datetime(df["check_in_time"])
df["consultation_start_time"] = pd.to_datetime(df["consultation_start_time"])
df["check_out_time"] = pd.to_datetime(df["check_out_time"])
df["visit_date"] = pd.to_datetime(df["visit_date"])

In [11]:
df["waiting_time_minutes"] = (
    df["consultation_start_time"] - df["check_in_time"]
).dt.total_seconds() / 60
df["consultation_duration_minutes"] = (
    df["check_out_time"] - df["consultation_start_time"]
).dt.total_seconds() / 60
df["doctor_utilization_rate"] = (
    df["doctor_worked_minutes"] / df["doctor_available_minutes"]
)

In [12]:
df = df[df["waiting_time_minutes"] <= 240]
df = df[df["doctor_utilization_rate"] <= 1]

In [13]:
df.columns = df.columns.str.lower()

In [14]:
df.to_csv("Hospital_visits_clean.csv", index=False)

In [ ]:
!pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\asus\onedrive\bureau\dataset prj\.venv\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\asus\onedrive\bureau\dataset prj\.venv\lib\site-packages (2.0.45)
Requirement already satisfied: greenlet>=1 in c:\users\asus\onedrive\bureau\dataset prj\.venv\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\asus\onedrive\bureau\dataset prj\.venv\lib\site-packages (from sqlalchemy) (4.15.0)

In [2]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine(
    "postgresql+psycopg2://postgres:123456@localhost:5432/hospital_management"
)

In [3]:
df = pd.read_csv("Hospital_visits_clean.csv")

In [4]:
dim_date = df[['visit_date']].drop_duplicates()
dim_date['visit_date'] = pd.to_datetime(dim_date['visit_date'])

dim_date['year'] = dim_date['visit_date'].dt.year
dim_date['month'] = dim_date['visit_date'].dt.month
dim_date['month_name'] = dim_date['visit_date'].dt.month_name()
dim_date['day'] = dim_date['visit_date'].dt.day
dim_date['weekday'] = dim_date['visit_date'].dt.day_name()

dim_date.rename(columns={'visit_date': 'date_id'}, inplace=True)

dim_date.to_sql('dim_date', engine, if_exists='append', index=False)

365

In [5]:
dim_department = (
    df[['department', 'available_beds']]
    .groupby('department', as_index=False)
    .mean()
    .rename(columns={'department': 'department_name'})
)

dim_department.to_sql('dim_department', engine, if_exists='append', index=False)

6

In [6]:
dim_shift = (
    df[['shift']]
    .drop_duplicates()
    .rename(columns={'shift': 'shift_name'})
)

dim_shift.to_sql('dim_shift', engine, if_exists='append', index=False)

2

In [7]:
dim_doctor = (
    df[['doctor_id', 'department']]
    .groupby('doctor_id', as_index=False)
    .first()
    .rename(columns={'department': 'department_name'})
)

dim_doctor.to_sql('dim_doctor', engine, if_exists='append', index=False)

119

In [8]:
dept = pd.read_sql("SELECT * FROM dim_department", engine)
shift = pd.read_sql("SELECT * FROM dim_shift", engine)

df_fact = df.merge(dept, left_on='department', right_on='department_name')
df_fact = df_fact.merge(shift, left_on='shift', right_on='shift_name')

In [9]:
fact = df_fact[[
    'appointment_id',
    'patient_id',
    'doctor_id',
    'department_id',
    'shift_id',
    'visit_date',
    'waiting_time_minutes',
    'consultation_duration_minutes',
    'patient_volume_shift',
    'patients_seen_by_doctor_shift',
    'doctor_available_minutes',
    'doctor_worked_minutes',
    'doctor_utilization_rate',
    'satisfaction_score'
]]

fact.rename(columns={'visit_date': 'date_id'}, inplace=True)

fact.to_sql('fact_patient_visit', engine, if_exists='append', index=False)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_26776\2847873371.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact.rename(columns={'visit_date': 'date_id'}, inplace=True)

1000